* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

img {
    height: auto;
}

main {
    width: 100%;
}

.wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.sub {
    background-color: #0e0e0e;
}

.sub__content {
    width: 40%;
}

.sub__text {
    padding: 24px 0 27px;
    color: #767676;
    font-family: "PT Sans";
    font-size: 14px;
}

.cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.cart_space {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.cart__circle {
   width: 23px;
   height: 23px;
   background: #b6907e;
   border-radius: 50%;

   text-align: center;
   line-height: 23px;
   color: #ffffff;
   font-family: "PT Sans";
   font-size: 12px;
   font-weight: 700;
   
}


.navbar {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 10px;
}

.logo {
    width: 30%;
    display: flex;
}

.logo__a {
    width: 40%;
    line-height: 50px;
}

.logo__a_text {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;   
}

.logo__text {
    color: #818181;
    font-family: "PT Sans";
    font-size: 14px;
    line-height: 48px;
}



.hamburger-menu {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

#menu__toggle {
    display: none;
}

.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.menu__item > a {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu__item > a:hover {
    color: crimson;
}

.phone__num {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.phone__num::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(images/Shape_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}


.header {
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(images/silver-watch-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-box {
    width: 50%;
}

.title {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 82px;
    font-weight: 400;
}

.title_p-150 {
    padding-top: 150px;
    padding-bottom: 68px;
}

.btn {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 205px;
}

.btn-order {
    padding: 23px 35px;
    margin-right: 30px;
    color: #977869;
    font-family: "Bebas Neue";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    background-color: transparent;
    border: 2px solid #977869;
    outline: none;
    cursor: pointer;
}

.btn-request {
    padding: 23px 29px 23px 40px;
    color: #977869;
    font-family: "Bebas Neue";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    background-color: transparent;
    border: 2px solid #977869;
    outline: none;
    cursor: pointer;
}

button:hover {
    color: red;
}

button:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
   }

.slider-box {
    display: flex;
    margin-bottom: 90px;
    
}

.services {
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url(images/brown-watch.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper__paginator-box {
    display: flex;
    justify-content: flex-end;
}

.paginator-box {
    width: 45%;
}

.paginator {
    margin-top: 230px;
}

.title_size-48 {
    padding-top: 50px;
    padding-bottom: 40px;
    font-family: "Bebas Neue";
    font-size: 48px;
    font-weight: 400;
}

.text {
    padding-bottom: 250px;
    color: #858585;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 400;
}


.collections {
    background-color: #000000;
}

.wrapper__position {
    width: 100%;
    margin: 0 auto;
}

.goods {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
}

.title_padding {
    padding: 0;
}

.menu-select {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.menu__item_font {
    color: #f5f5f5;
    font-family: "PT Sans";
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.35px;
}

.card-deck {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.card__good {
    width: 89%;
    display: flex;
    justify-content: space-between;
}

.card {
    justify-self: center;
    text-align: center;
    border: 1px solid #2b2b2b;
    padding: 30px 40px;
    margin-bottom: 70px;
}

.card__title {
    padding: 40px 0 20px;
    color: #f5f5f5;
    font-family: "Bebas Neue";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.card__text {
    color: #b6907e;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.paginator-prev {
    width: 26px;
    justify-self: end;
}

.paginator-next {
    width: 26px;
}


.brand {
    background-color: #0e0e0e;
    
}

.wrapper-brand {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}



.recall {
    background-color: #000000;
}

.wrapper-recall {
    width: 80%;
    margin: 0 auto;
}

.title_margin-padding {
    text-align: center;
    padding: 80px 0 100px;
}

.profile__deck {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-gap: 10%;
}

.profile__title {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 36px;
    font-weight: 400;
}

.profile__text {
    padding-bottom: 90px;
    color: #767676;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
}

.pagination-recall {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
}

.circle {
    background-color: #b6907e;
    opacity: 0.5;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 18px;
}

.circle__active {
    opacity: 1;
}

.circle_m {
    margin-bottom: 90px;
}



.footer {
    background-color: #0e0e0e;
}

.wrapper__footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 95px;
}

.footer__title,
.footer__info,
.form {
    width: 33%;
}

.logo__a_size {    
    font-size: 36px;
    padding: 95px 0 30px;
}

.title__menu_size {
    font-size: 30px;
    padding: 95px 0 30px;
}

.logo__text_l-h {
    line-height: 14px;
}

.menu__footer {
    padding: 0;
    display: flex;
    flex-direction: column;
    max-height: 130px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.menu__item_padding {
    padding-bottom: 20px;
}

input[type="email"] {
    width: 65%;
    padding: 18px 10px;
    border: 1px solid #2b2b2b;
    background-color: #0e0e0e;
}

input::placeholder {
    color: #494949;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
}

input[type="submit"] {
    padding: 13px 39px 16px 39px;
    background-color: #b6907e;
    border: none;
    outline: none;

    color: #705142;
    font-family: "Bebas Neue";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

input[type="submit"]:hover {
    color: orangered;
}

input[type="email"]:focus {
    color: white;
}

.footer__social {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__text {
    padding-bottom: 75px;
    color: #494949;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
}


@media all and (max-width: 1200px) {
    .card {
        padding: 40px 40px;
    }

    .services {
        background-position: inherit;
    }
}

@media all and (max-width: 1070px) {
    .header {
        background-position: center;
    }
    .card {
        padding: 30px 20px;
    }

    input[type="email"],
    input[type="submit"] {
        width: 100%;
        text-align: center;
    }
}

@media all and (max-width: 1000px) {
    .cart_space {
        width: 37%;
    }

    .logo__a_text,
    .title__menu_size {
        font-size: 24px;
    }
    .phone__num {
        font-size: 16px;
    }

    .card__good {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .card_display {
        display: none;
    }
}

@media all and (max-width: 800px) {
    .cart_space {
        width: 40%;
    }

    .services {
        background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)), url(images/brown-watch.jpg) top center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .title_p-150 {
        padding-top: 100px;
    }
    .btn {
        margin-bottom: 100px;
    }

    #menu__toggle {
        opacity: 0;
      }
      
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
      
      .menu__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 25px;
        left: 10px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: flex;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: grey;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      
      .menu__box {
        width: 20%;
        display: block;
        position: absolute;
        visibility: hidden;
        top: 0;
        left: -100%;
        padding-top: 40px;
        background-color: black;
        transition-duration: .25s;
      }
      
      .menu__item {
        padding: 12px 20px;
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: black;
      }
      .hamburger-menu {
          width: 0%;
      }

    .logo {
        width: 45%;
    }
    .phone {
        width: 55%;
    }

    .paginator {
        margin-top: 100px;
    }
    .text {
        padding-bottom: 100px;
    }

    .card__img-top {
        height: 250px;
    }
    .card__title {
        font-size: 24px;
    }
    .card__text {
        font-size: 20px;
    }

    .menu-select {
        width: 25%;
    }
    .menu__item_font {
        padding: 0;
    }

    .menu__item_padding {
        padding: 0;
    }

   
}

@media all and (max-width: 700px) {
    .cart {
        width: 25%;
    }

    .card__title {
        font-size: 20px;
    }
    .card__text {
        font-size: 18px;
    }
    .profile__title {
        font-size: 22px;
    }
    .profile__text {
        font-size: 16px;
    }
}

@media all and (max-width: 630px) {
    .profile__deck {
        display: grid;
        grid-template-columns: 1fr;
    }

    .logo  {
        width: 100%;
        flex-wrap: wrap;
    }
    .logo__a,
    .phone {
        width: 100%;
    }
    .navbar {
        padding: 0;
    }
}

@media all and (max-width: 576px) {
    .cart {
        width: 30%;
    }
    .cart_space {
        width: 40%;
    }

    .content-box,
    .paginator-box {
        width: 100%
    }
    .title_p-150 {
        padding: 50px 0;
        font-size: 60px;
    }
    .btn,
    .slider-box{
        margin-bottom: 50px;
    }

    .services {
        background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)), url(images/brown-watch.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .paginator-box {
        text-align: center;
    }
    .paginator {
        margin-top: 50px;
    }
    .text,
    .footer__text {
        padding-bottom: 50px;
    }

    .wrapper-brand,
    .title_margin-padding {
        padding: 50px 0;
    }

    .title__menu_size,
    .logo__a_size {
        padding-top: 50px;
    }

    .menu__footer {
        margin-bottom: 0;
    }

}

@media all and (max-width: 450px) {
    .menu__footer {
        flex-direction: row;
    }

    .footer__title,
    .footer__info {
        width: 50%;
    }

    .form {
        width: 100%;
        text-align: center;
    }

    .menu__item_padding {
        width: 50%;
    }
}

@media all and (max-width: 440px) {
    .cart {
        width: 40%;
    }
    .cart_space {
        width: 55%;
    }

    .card__good {
        display: grid;
        grid-template-columns: 1fr;
    }
    .card_display-n {
        display: none;
    }
    
    .cart_space {
        width: 45%;
    }
}

@media all and (max-width: 400px) {
    .menu__box {
        width: 25%;
    }

    .menu__btn {
        top: 30px;
        width: 20px;
        height: 20px;
      }

    .menu__item_padding {
        width: 100%;
    }
}

@media all and (max-width: 350px) {
    .wrapper {
        width: 70%;
    }

    .sub__content,
    .cart {
        width: 50%;
    }
    .logo__a,
    .logo__text {
        line-height: 25px;
    }

    .title_p-150 {
        font-size: 50px;
    }
    .btn-order,
    .btn-request {
        padding: 20px 10px;
        font-size: 14px;
    }

    .title_size-48 {
        font-size: 40px;
    }
    .text {
        font-size: 18px;
    }
}